<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand navbar-left" href="#">HaiTao管理系统</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:;"><span class="glyphicon glyphicon-envelope"></span> <span class="caret"></span></a></li>
        <li dropdown (onToggle)="toggled($event)" style="padding-right:30px">
            <a href id="simple-dropdown" dropdownToggle >
                <i class="glyphicon glyphicon-user"></i> 
                 Ballontt <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                <li>
                    <a class="dropdown-item" href="">aa</a>
                    <a class="dropdown-item" href="">aa</a>
                    <a class="dropdown-item" href="">aa</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

>
