.pagination li a {
    color:black;
}
.pagination .active a {
    color:white;
    background-color:#222222;
    border-color:#222222;
}
#confirm-pop {
    display:block;
    position:absolute;
    top:-83px;
    left:92px;
    z-index: 1060;
    border:1px #ccc solid;
    padding:1px;
    background-color:white;
    border-radius:4px;
}
#confirm-pop:after{
    content: "";
    position: absolute;
    left: 57px;
    top: 51px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px #000, 5px 6px 9px -9px #000;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
}
.param-input {
    margin-bottom: 4px;
}
.param-input a{
    text-decoration: none;
}
.glyphicon-remove {
    color:#d9534f
}
ul {
    list-style-type: none;
    padding-left: 14px;
    margin-top:4px;
}
